<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Detail Medical Supplies</title>
<object th:include="fragments/fragment ::css" th:remove="tag"></object>
<object th:include="fragments/fragment ::js" th:remove="tag"></object>
</head>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<br>
	<div class="container-fluid">
		<h2>Detail Medical Supplies</h2>
		<br>
		<div class="row">
			<div class=col-md-6>
				<div class="card">
					<div class="card-header" th:text="${medicalSupplies.nama}"></div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-4">
								<p>Jumlah</p>
							</div>
							<div class="col-md-8">
								<p th:text="${medicalSupplies.jumlah}"></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<p>Harga</p>
							</div>
							<div class="col-md-8">
								<p
									th:text="${medicalSupplies.price}"></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<p>Deskripsi</p>
							</div>
							<div class="col-md-8">
								<p th:text="${medicalSupplies.deskripsi}"></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<p>Jenis</p>
							</div>
							<div class="col-md-8">
								<p th:text="${medicalSupplies.jenisMedicalSupplies.jenis_medical_supplies}"></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<p>Urgensi</p>
							</div>
							<div class="col-md-8" th:switch="${medicalSupplies.jenisMedicalSupplies.urgent.flag}">
								<p th:case="'0'">Non Urgent</p>
								<p th:case="'1'">Urgent</p>
							</div>
						</div>
						<form th:action="@{'/medical-supplies/ubah/' + ${medicalSupplies.id}}" method="GET">
							<button value="submit" class="btn btn-primary">Ubah Data</button>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>